# Dependencies
node_modules/
package-lock.json

# Local Environment & Logs
.env
.env.local
*.log
npm-debug.log*

# System & OS
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
